*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.logo{
    text-align: left;
}
.heading{
    text-align: right;
}

.menu{
    flex-direction: row;
    justify-content: space-around;
}

.menu a{
    background-color: transparent;
}

.banner{
    position: relative;
    padding: 200px 10px;
}

.banner .top-mern{
    height: 200px;
    width: 190px;
    position: absolute;
    top: 50px;
    right: 100px;
    transition: width 2s ease-in-out, transform 1s ease-in-out;
}

.banner .top-mern:hover{
    width: 220px;
}
.banner .bottom-mern{
    height: 200px;
    width: 190px;
    bottom: 30px;
    left: 100px;
    transition: width 2s ease-in-out, transform 1s ease-in-out;
}

.banner .bottom-mern:hover{
    width: 220px;
}