*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.logo img{
    width: 50px;
    height: 50px;
}

.heading h1{
    font-size: 2.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: teal;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
}

.menu a{
    padding: 10px;
    margin: 7px 0;
    background-color: rgb(85, 101, 96);
    border-radius: 10px;
}
.menu a:hover{
    background-color: white;
    color: teal;
    border-radius: 10px;
}

.navbar::after{
    content: "";
    display: table;
    clear: both;
}

p{
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px 0;
}

.first-hr{
    border: 3px solid white;
    width: 100px;
    margin: 10px auto;
}

.banner{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.banner .top-mern{
    height: 100px;
    width: 90px;
    position: absolute;
    top: 20px;
    right: 60px;
    transition: transform 1s ease-in-out;
}

.banner .top-mern:hover{
    transform: rotate(360deg);
}

.banner h1{
    font-size: 2.5rem;
    font-family: "Betania Patmos", cursive;
}

.banner p{
    font-size: 1.5rem;
    color: gray;
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

.banner .bottom-mern{
    height: 100px;
    width: 90px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    transition: transform 1s ease-in-out;
}

.banner .bottom-mern:hover{
    transform: rotate(360deg);
}

.banner::after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

.about{
    background-color: #39a4ac;
    padding: 1% 7%;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.about::after{
    content: "";
    display: table;
    clear: both;
}

.about-img img{
    border: 5px solid white;
    border-radius: 50%;
    height: 240px;
    width: 200px;
}

.about p{
    text-align: center;
    padding: 10px 0;
}

.about a{
    font-size: 1.2rem;
}

.cv-btn{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: transform 1s ease-in-out
}

.cv-btn:hover{
    background-color: springgreen;
    color: black;
}

.experience{
    padding: 1% 0%;
}

.experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 30px;
    transition: 0.3s ease-in-out;
    height: 700px;
}

.experience .card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.experience .card-icon{
    text-align: center;
}

.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 15px;
}

.card-title h2{
    text-align: center;
    background-color: #414040;
    margin: 20px 0;
    color: white;
    padding: 10px;
}

.experience .card-des ol{
    padding: 0 20px;
}

.experience .card-des li{
    margin: 10px 0;
}

.skill-container{
    padding: 1px 0 1px 30px;
    overflow: hidden;
}
.skill-container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-container li{
    list-style: none;
    font-weight: bolder;
    position: relative
}

.skill-container li::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: rgb(86, 86, 153, .5);
    top: calc(100% + 5px);
    left: 0;
    border-radius: 1000px;
}
.skill-container li::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 0;
    background-color: rgb(86, 86, 153, 1);
    top: calc(100% + 5px);
    left: 0;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.skill-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 90%;
    }
}
.skill-container li.css::after{
    animation-name: css;
}

@keyframes css{
    to{
        width: 70%;
    }
}
.skill-container li.bootstrap::after{
    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 80%;
    }
}
.skill-container li.javascript::after{
    animation-name: javascript;
}

@keyframes javascript{
    to{
        width: 60%;
    }
}
.skill-container li.node::after{
    animation-name: node;
}

@keyframes node{
    to{
        width: 70%;
    }
}
.skill-container li.express::after{
    animation-name: express;
}

@keyframes express{
    to{
        width: 60%;
    }
}
.skill-container li.git::after{
    animation-name: git;
}

@keyframes git{
    to{
        width: 80%;
    }
}
.skill-container li.react::after{
    animation-name: react;
}

@keyframes react{
    to{
        width: 60%;
    }
}

.experience::after{
    content: "";
    display: table;
    clear: both;
}

.contact-me{
    padding: 1% 2%;
    background-color: #39a4ac;
    color: white;
}

.contact{
    text-align: center;
}

.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button{
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: #052d2f;
    color: white;
    margin: 10px 5px;
    transition: ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.contact button:hover{
    background-color: teal;
    border: 2px solid white;
}

.contact-me::after{
    content: "";
    display: table;
    clear: both;
}

