*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.logo img{
    width: 50px;
    height: 50px;
}

.heading h1{
    font-size: 2.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: teal;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
}

.menu a{
    padding: 10px;
    margin: 7px 0;
    background-color: rgb(85, 101, 96);
    border-radius: 10px;
}
.menu a:hover{
    background-color: white;
    color: teal;
    border-radius: 10px;
}

.navbar::after{
    content: "";
    display: table;
    clear: both;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.first-hr{
    border: 3px solid white;
    width: 100px;
    margin: 10px auto;
}

.banner{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.banner .top-mern{
    height: 100px;
    width: 90px;
    position: absolute;
    top: 20px;
    right: 60px;
    transition: transform 1s ease-in-out;
}

.banner .top-mern:hover{
    transform: rotate(360deg);
}

.banner h1{
    font-size: 2.5rem;
    font-family: "Betania Patmos", cursive;
}

.banner p{
    font-size: 1.5rem;
    color: gray;
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

.banner .bottom-mern{
    height: 100px;
    width: 90px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    transition: transform 1s ease-in-out;
}

.banner .bottom-mern:hover{
    transform: rotate(360deg);
}

.banner::after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

.about{
    background-color: #39a4ac;
    padding: 1% 7%;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.about::after{
    content: "";
    display: table;
    clear: both;
}

.about-img img{
    border: 5px solid white;
    border-radius: 50%;
    height: 240px;
    width: 200px;
}

.about p{
    text-align: center;
    padding: 10px 0;
}

.about a{
    font-size: 1.2rem;
}

.cv-btn{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: transform 1s ease-in-out
}

.cv-btn:hover{
    background-color: springgreen;
    color: black;
}


