*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.logo img{
    width: 50px;
    height: 50px;
}

.heading h1{
    font-size: 2.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: teal;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
}

.menu a{
    padding: 10px;
    margin: 7px 0;
}
.menu a:hover{
    background-color: white;
    color: teal;
    border-radius: 10px;
}

.navbar::after{
    content: "";
    display: table;
    clear: both;
}
